<aside>
  <form class="op-poll__form">
    <p>How do you do today?</p>
    <div class="op-poll__options">
      <label for="op-radio-1">
        <input type="radio" id="op-radio-1" name="poll" value="Brilliant! I have so much energy">
        Brilliant! I have so much energy
      </label>

      <label for="op-radio-2">
        <input type="radio" id="op-radio-2" name="poll" value="Always can be worse">
        Always can be worse
      </label>

      <label for="op-radio-3">
        <input type="radio" id="op-radio-3" name="poll" value="Please, end my misery">
        Please, end my misery
      </label>
    </div>
  </form>
</aside>